body {
    background: rgb(2,0,36);
    background: linear-gradient(177deg, rgba(2,0,36,1) 0%, rgba(9,51,121,1) 35%, rgba(0,212,255,1) 100%);
}
header {
    text-align: center;
    margin: 2% 20%;
    background: crimson;
    padding: 10px;
    border-radius: 5px;
}
header .mobile {
    display: none;
}
.navbar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin: 20px 20px;
}
.navbar ul li {
    list-style: none;
}
.navbar ul li a {
    text-decoration: none;
    font-size: 2em;
    color: black;
    font-weight: 600;
}
.navbar ul li a:hover {
    cursor: pointer;
    color: white;
    transition: all 0.3s ease-in;
    text-transform: uppercase;
}
/* For Responsiveness */
@media only screen and (max-width: 768px) {
    header .mobile{
        display: contents;
    }
    .navbar ul {
        display: none;
    }
}
.exterior {
    margin: 50px;
    text-align: center;
}
.exterior img {
    width: 750px;
    height: 600px;
    margin: 10px;
    padding: 5px;
    border: 3px solid red;
    border-radius: 5px;
}
.text {
    text-align: center;
    width: 80%;
    margin-left: 0px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-weight: 800;
}
/* Responsive */
@media only screen and (max-width:768px) {
    .exterior {
        width: 70%;
    }
    .exterior img {
        width: 100%;
        height: 200px;
    }
    .text {
        width: 50%;
        margin-left: 40px;
    }
    p {
        width: 100%;
        font-size: 12px;
    }
}
/* Bedroom & Bathroom */
.interior {
    margin: 50px;
    text-align: center;
}
.interior img {
    width: 500px;
    height: 350px;
    margin: 10px;
    padding: 5px;
    border: 3px solid red;
    border-radius: 5px;
}
/* Responsive for Combo */
@media only screen and (max-width:768px) {
    .interior {
        width: 70%;
    }
    .interior img {
        width: 100%;
        height: 200px;
    }
}
.interior2 {
    margin: 50px;
    text-align: center;
}
.interior2 img {
    width: 500px;
    margin: 10px;
    padding: 5px;
    border: 3px solid red;
    border-radius: 5px;
}
/* For Responsive */
@media only screen and (max-width:768px) {
    .interior2 {
        width: 70%;
    }
    .interior2 img {
        width: 100%;
    }
}
.facilities {
    margin: 50px;
    text-align: center;
}
.facilities img {
    width: 500px;
    margin: 10px;
    padding: 5px;
    border: 3px solid red;
    border-radius: 5px;
}
@media only screen and (max-width:768px) {
    .facilities {
        width: 70%;
    }
    .facilities img {
        width: 100%;
    }
}